// VARIABLES
//colors
$color-grey-dark: #242b2e;
$color-grey-bluish: #355069;
$color-grey-light: #e1e8f0;
$color-grey-wet: #8d9ba8;
$color-grey-wet-07: #afb9c2;
$color-grey-wet-035: #d7dce1;
$color-grey-wet-01: #f3f5f6;
$color-blue-dark: #0c5495;
$color-blue-light: #0f8cc9;
$color-marine: #3fc0c4;
$color-pink: #ff274b;
$color-yellow: #ffc400;
//gradients
$gradient-marine: linear-(47deg, #5bd3cd 0%, #2b8caf 100%);
$gradient-grey: linear-gradient(39deg, #e1e8f0 0%, #8d9ba8 100%);
$gradient-yellow: linear-gradient(-130deg, #ffc400 0%, #ffef3d 100%);
$gradient-pink: linear-gradient(-135deg, #ff526f 0%, #ff3c8d 100%);
$gradient-blue: linear-gradient(-135deg, #0c5495 0%, #0f8cc9 100%);
//border-radius
$border-radius-5: 5px;